#container {
  height: 100%;
  width: 100%;
  position: relative;
}

.form-container {
  background-image: image-url("tan_background");
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 600px;
}

#top-level-landing {
  background-image: image-url("basic_background");
  z-index: -1;
  min-height:370px;
  background-size: cover;
}

.float-left {
  float: left;
}

.block {
  display: block;
}

.top-right {
  top: 0;
  right: 0;
  position: absolute;
  padding-right: 20px;
  padding-top: 10px;
}

.form-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 40%;
  height: 300px;
  margin:auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #888888;
}

.sign-items {
  display: flex;
  flex-direction: column;
}

.form-submission-box {
  border-radius: 9px;
  border: 1px solid #D6D0C4;
  font-family: "Lato", "Helvetica Neue","Helvetica",sans-serif;
  padding: 12px 24px;
  background-color: #fdd05f;
  font-size: 16px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100%;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.link-to-button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #382110;
  color: white;
  padding: 10px 12px;
  border: 1px solid #382110;
  border-radius: 3px;
  font-family: "Lato","Helvetica Neue","Helvetica", sans-serif;
}

.side-by-side {
  display: inline-block;
  padding-right: 10px;
}

.landing-login-form-ul {
  list-style: none;
  display: flex;

}

.sign-items {
  margin: 0 0 30px 0;
}

.landing-login-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.landing-signup-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#sub-landing-masthead {
  display: flex;
  justify-content: space-around;
  position: relative;
}

#landing-masthead {
}

#landing-header {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: image-url("basic_background");
}

.landing-header {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: image-url("tan_background");
  z-index: -1;
  background-size: cover;
}

.hover-black:hover {
  cursor: default;
  background-color: gray;
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .drop-button {
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
}

.dropdown-links  {
  display: none;
  min-width: 160px;
  position: absolute;
  box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.4);
  z-index: 30000;
  background-color: white;
}

.dropdown-links a {
  float: none;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-links {
  display: block;
}

.dropdown-links a:hover {
  background-color: gray;
}

.icons {
  display: flex;
  justify-content: flex-start;
}

.padding-left-a-bit {
  padding-left: 50px;
}

.landing-signup-form-ul {
}

.landing-signup-form-ul > li {
  list-style: none;
  width:270px;
  margin: 0;
  font-size: 16px;
  font-weight: lighter;
}

.landing-signup-form-ul > li > input {
  width:270px;
  padding: 7px 5px;
  margin: 0;
  font-size: 16px;
  font-weight: lighter;
}

#new-here {
  font-size: 17px;
  font-family: Helvetica;
}

#favorite-book-header {
  text-align: center;
  padding: 5px 10px 10px 10px;
  padding-bottom: 40px;
  font-size: 70px;
  max-width: 480px;
  color: #7F5644;
  position: absolute;
  bottom: -40px;
  font-family: "Ek Mukta Bold", "Passageway Regular", "Open Sans Bold";
}

.landing-login-form > li > input {
  width: 120px;
  height: 18px;
  padding: 7px 5px;
  margin: 0;
}

.landing-login-form {
  display: flex;
  align-items: center;
}

.landing-signup-submission {
  padding: 8px;
  border: 0px;
  border-radius: 4px;
  background-color: #fdd05f;
  font-size: 18px;
  line-height: 22px;
  width: 85px;
}

.login-button {
  margin-bottom: 30px;
}

.session-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // padding: 20px 0 20px 0;
}

.session-logo {
  height: 43px;
  width: 197px;
}

.book-listing {
  min-width: 338px;
  min-height: 150px;
  display: flex;
  list-style: none;
}

.hp-image {
  min-width: 100px;
  min-height: 150px;
  background-image: image-url("HP_cover_art_cropped");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.arrow-box {
  display: flex;
  align-items: center;
  font-size: 80px;
  margin-left: 30px;
  margin-right: 30px;
}

.discovery-p-tags {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", "Helvetica Neue","Helvetica",sans-serif;
}

.discovery-main {
  background-image: image-url("tan_background");
  background-size: cover;
  z-index: 100;
  border: 10px;
  padding: 10px;
  border-radius: 13px;
  max-height: 250px;

}

.quote-links {
  margin: 0, 0, 30px, 0;
  display: flex;
  flex-direction: column;
  font-family: "Lato", "Helvetica Neue","Helvetica",sans-serif;
}

.portrait {
  min-width: 100px;
  max-height: 132px;
  max-width: 100px;
  max-height: 132px;
}

#quote-text {
  display: flex;
  flex-direction: row;
  border: 10px;
  padding-bottom: 30px;
}

.access {
  padding: 0 0 6px 0;
}

#main-content {
  // background-image: image-url("tan_background");
  display: flex;
  max-width: 1100px;
}

#left-container {
  width: 66%;
}

#right-container {
  width: 33%;
  padding-left: 20px;
}

#suggestions {
  padding-top: 15px;
  // background-image: image-url("tan_background");
  display: flex;
}

#quote {
  display: flex;
}

.particular-quote {
  max-width: 350px;
}

.quote-content {
  min-width: 450px;
  padding-left: 20px;
}

#footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: image-url("tan_background");
  display: flex;
  justify-content: space-around;
}

.title {
  font-family: "Lato", "Helvetica Neue","Helvetica",sans-serif;
  font-size: 22px;
}

.sponsored-book-container {
  display: flex;
}

#book-show-page {
  display: flex;
  padding-left: 200px;
  padding: 100px, 100px, 100px, 100px;
  max-width: 700px;
}

#book-show-cover {
  min-height: 225px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#book-show-info {
  padding-left: 50px;
  padding-right: 50px;
}

input.star {
  display: none;
}

label.star {
  float: right;
  padding: 4px;
  font-size:16px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
  color: #F62;
}

label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}

label.star:before {
  content: '\f006';
}

.want-to-read {
  padding-top: 10px;
}

.book-rating-title {
  font-size: 10px;
  font-family: "Lato", "Helvetica Neue","Helvetica",sans-serif;
}

.italics {
  font-style: italic;
}

#book-show-info {
  min-width: 500px;
}

#book-show-discovery {
  max-width: 370px;
}

#book-show-main {
  padding-top: 40px;
}

.entry-discovery {
  max-width: 350px;
  padding-right: 50px;
}

#main-main {
  display: flex;
  justify-content: center;
}

#sponsor-main {
  padding-top: 15px;
  background-image: image-url("tan_background");
  border: 10px;
  padding: 10px;
}

#sponsor-primary {

}

#sponsor-info {
  margin-left: 10px;
}

.book-promotion {
  display: block;
  width: 95px;
  height: 130px;
  padding-right: 20px;
}

.book-title {
  font-weight: bold;
  text-decoration: underline;
}

.sub-title {
  font-size: 15px;
  font-weight: bold;
}

.review-title {
  display: flex;
  justify-content: space-between;
}

.review-body {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 20px;
}

.book-show-sub-title {
  display: flex;
  border-bottom: 1px solid black;
}

.book-form-left {
  padding-left: 100px;
  max-width: 600px;
}

.book-form-main {
  display: flex;
  flex-direction: column;
}

.book-form-top {
  display: flex;
  margin-top:120px;
}

.book-form-right {
  margin-left: 50px;
  max-width: 400px;
}

.book-form-ul {
  list-style: armenian;
}

.book-form-ul > li {
  margin-top: 10px;
  margin-bottom: 10px;
}

#book-form-description {
  min-width: 474px;
  min-height: 70px;
  max-width: 474px;
  max-height: 700px;
}

.discovery-image {
  min-height: 135px;
  min-width: 90px;
  max-height: 135px;
  max-width: 90px;
}

.logo {
  height: 43px;
  width: 197px;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 30px;
}

.shelf-image {
  min-height: 120px;
  min-width: 80px;
  max-height: 120px;
  max-width: 80px;
}

.book-button {
  min-height: 30px;
  max-width: 120px;
}



// comment
