.logo {
  height: 43px;
  width: 197px;
  padding-left: 20px;
  margin-bottom: 30px;
}

#container {
  height: 100%;
  width: 100%;
  position: relative;
}

.form-container {
  background-image: image_url("tan_background");
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 600px;
}

#top-level-landing {
  background-image: image_url("basic_background");
  z-index: -1;
  min-height:370px;
  background-size: cover;
}

.float-left {
  float: left;
}

.block {
  display: block;
}

.top-right {
  top: 0;
  right: 0;
  position: absolute;
  padding-right: 20px;
  padding-top: 10px;
}

.form-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 40%;
  height: 300px;
  margin:auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #888888;
}

.sign-items {
  display: flex;
  flex-direction: column;
}

.form-submission-box {
  border-radius: 3px;
  border: 1px solid #D6D0C4;
  font-family: "Lato", "Helvetica Neue","Helvetica",sans-serif;
  padding: 12px 24px;
  font-size: 16px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100%;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.link-to-button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #382110;
  color: white;
  padding: 10px 12px;
  border: 1px solid #382110;
  border-radius: 3px;
  font-family: "Lato","Helvetica Neue","Helvetica", sans-serif;
}

.side-by-side {
  display: inline-block;
  padding-right: 10px;
}

.landing-login-form-ul {
  list-style: none;
  display: flex;

}

.sign-items {
  margin: 0 0 30px 0;
}

.landing-login-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.landing-signup-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#sub-landing-masthead {
  display: flex;
  justify-content: space-around;
  position: relative;
}

#landing-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: image_url("basic_background");
}

.landing-header {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: image-url("tan-background");
  z-index: -1;
  background-size: cover;
}

.hover-black:hover {
  cursor: default;
  background-color: gray;
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .drop-button {
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
}

.dropdown-links {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.4);
  z-index: 1;
}

.dropdown-links a {
  float: none;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-links {
  display: block;
}

.dropdown-links a:hover {
  background-color: gray;
}

.icons {
  display: flex;
  justify-content: flex-start;
}

.padding-left-a-bit {
  padding-left: 50px;
}

.landing-signup-form-ul {
}

.landing-signup-form-ul > li {
  list-style: none;
  width:270px;
  margin: 0;
  font-size: 16px;
  font-weight: lighter;
}

.landing-signup-form-ul > li > input {
  width:270px;
  padding: 7px 5px;
  margin: 0;
  font-size: 16px;
  font-weight: lighter;
}

#new-here {
  font-size: 20px;
}

#favorite-book-header {
  text-align: center;
  padding: 5px 10px 10px 10px;
  font-size: 60px;
  max-width: 400px;
  color: #664400;
  position: absolute;
  bottom: -40px;
}

.landing-login-form > li > input {
  width: 120px;
  height: 18px;
  padding: 7px 5px;
  margin: 0;
}

.landing-login-form {
  display: flex;
  align-items: center;
}

.landing-signup-submission {
  padding: 8px;
  border: 0px;
  border-radius: 4px;
  background-color: #fdd05f;
  font-size: 18px;
  line-height: 22px;
  width: 85px;
}

.login-button {
  margin-bottom: 30px;
}

.session-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // padding: 20px 0 20px 0;
}

.session-logo {
  height: 43px;
  width: 197px;
}
